<form method="POST">
    <fieldset>
        <label for="shiftDate">Shift Date</label>
        <input type="date" name="shiftDate" id="shiftDate" value="2024-12-07" readonly required>
    </fieldset>
    <fieldset>
        <label for="startTime">Start Time</label>
        <input type="text" name="startTime" id="startTime" value="{{shift.startTime}}" readonly required>
    </fieldset>
    <fieldset>
        <label for="endTime">End Time</label>
        <input type="text" name="endTime" id="endTime" value="{{shift.endTime}}" readonly required>
    </fieldset>
    <fieldset>
        <label for="store">Store</label>
        <input type="text" name="store" id="store" value="{{shift.store}}" readonly required>    
    </fieldset>
    <fieldset>
        <label for="location">Location</label>
        <input type="text" name="location" id="location" value="{{shift.location}}" readonly required>  
    </fieldset>
    <fieldset>
        <label for="yourName">Your Name</label>
        <input type="text" name="yourName" id="yourName" value="{{shift.yourName}}">
    </fieldset> 
    <fieldset>
        <label for="yourPhone">Your Phone</label>
        <input type="text" name="yourPhone" id="yourPhone" value="{{shift.yourPhone}}">
    </fieldset>
    <button>Save</button>
</form>